.button1{
    display: flex;
width: 146px;
height: 56px;
padding: 13px 20px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 16px;
background: #025595;
}
.link{
    color: #16100D;

font-family: Satoshi;
font-size: 16px;

}

.section2 h1{
    color: #16100D;
font-family: Syne;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 80px; /* 133.333% */
margin-top: 200px;
}
.section2 p{
    color: rgba(22, 16, 13, 0.50);
    font-family: Syne;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 154.545% */
}
.section2 img{
    margin-left: -400px;
}
.section2 h5{
    color: #16100D;
font-family: Syne;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.how{
    color: #16100D;
text-align: center;
font-family: Syne;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 200px;
}
.p3{
    color: rgba(22, 16, 13, 0.50);
text-align: center;
font-family: Syne;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
}
.we{
    color: #16100D;
text-align: center;
font-family: Syne;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 56px; /* 140% */
margin-top: 200px;
}
.p4{
    color: rgba(22, 16, 13, 0.50);
    
text-align: center;
font-family: Syne;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
}
.section4 .col{
    background-image: url(./img/Rectangle\ 4102.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}
.section5 .col{
    background-image: url(./img/Rectangle\ 4103.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    margin-top: 60px;
}













@media (max-width:1200px) {
    .yoqol{
        display: none;
    }
    
}